.view-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
}
.thumbnail
{
    margin-bottom: 30px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 30px;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    border: 0;
}
.item.list-group-item .img-event {
    float: left;
    width: 15%;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
    display: inline-block;
    width: 100%;
}
.item.list-group-item .caption
{
    float: left;
    width: 85%;
    margin: 0;
}
@media screen and (max-width:767px){
    
    .item.list-group-item .img-event {
        width: 40%;
    }
    .item.list-group-item .caption
    {
        width: 60%;
    }   
}
.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item:after
{
    clear: both;
}

.ats-book-title {
    text-transform: capitalize;
    font-size: 20px;
    font-family: inherit;
    text-align: center;
	margin: 0;
}
.ats-book-author {
    text-transform: capitalize;
    font-size: 16px;
    font-family: inherit;
    text-align: center;
	margin: 0;
}
.ats-book-gender {
    font-size: 14px;
    text-align: left;
    color: #737171;
}
.ats-book-description {
    font-size: 16px;
    line-height: 20px;
    margin-top: 10px;
    width: 100%;
    height: 100px;
    word-break: break-all;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    box-orient: vertical;
    -webkit-line-clamp: 5;
    -moz-line-clamp: 5;
    -ms-line-clamp: 5;
    line-clamp: 5;
    overflow: hidden;
}
#gen_select, #author_select {
    font-size: 17px;
    text-transform: capitalize;
}
.container {
    max-width: 1222px !important;
}
.ats-book-image{
    width:100%;
}
.grid-group-item .img-event {
    min-height: 415px;
}
.grid-group-item .ats-book-ta {
    height: 82px;
    overflow: hidden;
}

.ats-book-empty {
    text-align: center;
    font-size: 20px;
    color: inherit;
    margin: 0;
}
.custom-select {
    height: 42px !important;
}
